<ion-view style="background-color: rgb(247, 151, 94);" id="page7" title="A propos de nous">
    <ion-content class="has-header" padding="true">
        <h2 style="color: rgb(0, 0, 0);" id="aProposDeNous-heading1">Become A Saiyan</h2>
        <div style="color: rgb(0, 0, 0); text-align: justify;" id="aProposDeNous-markdown1">
            <p>
              <strong>Become A Saiyan</strong> a été conçu et développé par Jérémy Mathon (Etudiant à Epitech Lille) et Vincent Leclercq (Etudiant en Master MIAGE).</p>
	    <p>
	      E-mail: <a href="mailto:jeremy.mathon@epitech.eu">jeremy.mathon@epitech.eu</a><br/>
          E-mail: <a href="mailto:mail.vleclercq@gmail.com">mail.vleclercq@gmail.com</a><br/>
	      Github: <a href="https://github.com/adrijere">https://github.com/adrijere</a><br/>
	      </p>
        </div>
    </ion-content>
</ion-view>
