<ion-view style="background-color: rgb(247, 151, 94);" id="page7" title="A propos de nous">
    <ion-content class="has-header" padding="true">
        <h2 style="color: rgb(0, 0, 0);" id="aProposDeNous-heading1">BecomeASaiyan</h2>
        <div style="color: rgb(0, 0, 0); text-align: justify;" id="aProposDeNous-markdown1">
            <p>
                <strong>BecomeASaiyan</strong>est une idée et a été développé par Vincent Leclercq &amp; Jérémy Mathon.</p>
        </div>
    </ion-content>
</ion-view>