<ion-view style="background-color: rgb(255, 95, 0);" id="page2" title="Séance bras">
  <ion-content class="has-header" padding="true">
    <ion-list style="">
      <ion-item style="" class="item item-divider">-- BICEPS --</ion-item>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Curl barre</h2>
	<p>X séries à X kg</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Curl incliné</h2>
	<p>X séries à X kg</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Curl marteau</h2>
	<p>X séries à X kg</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Curl concentré</h2>
	<p>X séries à X kg</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Drag curl</h2>
	<p>X séries à X kg</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Pupitre</h2>
	<p>X séries à X kg</p>
      </a>
      <ion-item style="" class="item item-divider">-- TRICEPS --</ion-item>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Dips</h2>
	<p>X séries à X kg</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Barre au front</h2>
	<p>X séries à X kg</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Développé couché serré</h2>
	<p>X séries à X kg</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Extension nuque</h2>
	<p>X séries à X kg</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
	<img src="img/avatar.jpg">
	<h2>Poulie haute</h2>
	<p>X séries à X kg</p>
      </a>
    </ion-list>
            <button class="button button-energized  button-block" style="color:#000000;" id="entrainement-button1">Commencer la séance</button>
  </ion-content>
  </ion-view>    
