<ion-view style="background-color: rgb(247, 151, 94);" id="createSeance" title="Nouvelle Séance">
	<ion-content class="has-header" padding="true">
	<div ng-controller="createSeanceCtrl">
	   <p> De quels exercices se compose votre séance ? </p>
	   <!--Exo pecs :
		Développé couché
		Développé couché haltère

		Développé incliné 
		Développé incliné haltère

		Développé décliné
		Développé décliné haltère

		Développé écarté couché
		Développé écarté inclincé
		Développé écarté poulie
		Pec deck

		Développé assis machine

		- -Dos

		-Grand dorsaux 
		Traction barre
		Tirage nuque
		Tirage poitrine
		Tirage prise serrée

		 -rombhoides
		Soulevé de terre
		Tirage poulie basse
		Rowing supination
		Rowing T barre

		-trapezes
		shrug haltere
		shrug barre

		- -Biceps

		Curl barre
		Curl haltere
		Curl marteau
		Curl pupitre
		Curl concentration

		- -Triceps

		


	    -->
	    <button class="button button-energized  button-block" style="color:#000000;" id="valider-button1" ui-sref="validerCreateSeance">Valider</button>
	</div>
	</ion-content>
</ion-view>
