<ion-view style="background-color: rgb(247, 151, 94);" id="createSeance" title="Nouvelle Séance">
	<ion-content class="has-header" padding="true">
	<div ng-controller="createSeanceCtrl">
	   <p> Quels groupes musculaires souhaitez-vous travailler ? </p>
		<ion-list>
			 <ion-checkbox ng-model="Pectoraux">Pectoraux</ion-checkbox>

 			 <ion-checkbox ng-model="Dos" ng-click="ShowGroupes('showdos');">Dos</ion-checkbox>
 			 <div id="showdos"style="padding-left:20px; display:none;">
				 <ion-checkbox ng-model="Trapezes">Trapèzes</ion-checkbox>
 				 <ion-checkbox ng-model="Grandsdorsaux">Grands dorsaux</ion-checkbox>
 				 <ion-checkbox ng-model="Rhomboides">Rhomboïdes</ion-checkbox>
 			 </div>

 			 <ion-checkbox ng-model="Biceps" ng-click="ShowGroupes('showbiceps');">Biceps</ion-checkbox>
 			  <div id="showbiceps"style="padding-left:20px; display:none;">
				 <ion-checkbox ng-model="BicepsBrachial">Biceps Brachial</ion-checkbox>
 				 <ion-checkbox ng-model="BrachialAnterieur">Brachial Antérieur</ion-checkbox>
 			 </div>

 			 <ion-checkbox ng-model="Triceps">Triceps</ion-checkbox>

 			 <ion-checkbox ng-model="Avantbras">Avant-bras</ion-checkbox>

 			 <ion-checkbox ng-model="Deltoides" ng-click="ShowGroupes('showdeltoide');">Deltoïdes</ion-checkbox>
 			 <div id="showdeltoide"style="padding-left:20px; display:none;">
				 <ion-checkbox ng-model="Anterieur">Antérieur</ion-checkbox>
 				 <ion-checkbox ng-model="Moyen">Moyen</ion-checkbox>
 				 <ion-checkbox ng-model="Posterieur">Postérieur</ion-checkbox>
 			 </div>

 			 <ion-checkbox ng-model="Jambes" ng-click="ShowGroupes('showjambes');">Jambes</ion-checkbox>
 			 <div id="showjambes"style="padding-left:20px; display:none;">
				 <ion-checkbox ng-model="Quadriceps">Quadriceps</ion-checkbox>
 				 <ion-checkbox ng-model="Ischios">Ischios</ion-checkbox>
 				 <ion-checkbox ng-model="Mollets">Mollets</ion-checkbox>
 			 </div>

 			 <ion-checkbox ng-model="Abdominaux">Abdominaux</ion-checkbox>
  			 <ion-checkbox ng-model="Fullbody">Fullbody</ion-checkbox>
	  	</ion-list>
	    <button class="button button-energized  button-block" style="color:#000000;" id="valider-button1" ui-sref="validerCreateSeance">Valider</button>
	</div>
	</ion-content>
</ion-view>
