<ion-view style="background-color: rgb(247, 151, 94);" id="createSeance" title="Nouvelle Séance">
	<ion-content class="has-header" padding="true">
	<div ng-controller="createSeanceCtrl">
	   <p> De quels exercices se compose votre séance ? </p>
	   <!--
	   - -PECTORAUX

		Développé couché
		Développé couché haltère
		Développé incliné 
		Développé incliné haltère
		Développé décliné
		Développé décliné haltère
		Développé écarté couché
		Développé écarté inclincé
		Développé écarté poulie
		Pec deck
		Dips
		Développé assis machine

		- -DOS

		-GRAND DORSAUX 
		Traction barre
		Tirage nuque
		Tirage poitrine
		Tirage prise serrée
		Pull over

		 -ROMBHOIDES
		Soulevé de terre
		Tirage poulie basse
		Rowing supination
		Rowing T barre

		-TRAPEZES
		shrug haltere
		shrug barre

		- -BICEPS

		Curl barre
		Curl haltere
		Curl marteau
		Curl pupitre
		Curl concentration

		- -TRICEPS
		
		Developpé couché prise serré
		Barre au front
		Dips
		Tirage poulie haute corde
		Tirage poulie haute barre
		Tirage poulie haute barre supination
		kick back

		- -AVANTBRAS

		Curl pronation

		- - DELTOIDES 

		Elevations laterales
		Elevations frontales
		Elevations arrieres
		Développé militaire
		Développé militaire

		- - JAMBES 

		-QUADRICEPS

		Squat
		Presse
		Front Squat
		Hack Squat
		Fentes
		Leg extention

		-ISCHIOS

		Soulevé de terre jambes tendues
		Leg curl assis
		Leg curl couché
		Leg curl debout

		-MOLLETS

		Mollets debout
		Mollets assis
		Mollets presse

		- - ABDOMINAUX

		Crunch
		Relevé de jambes
		Crunch rotation
		Flexions latérales
		Gainage planche

		- -FULL BODY

		ALL

	    -->
	    <button class="button button-energized  button-block" style="color:#000000;" id="valider-button1" ui-sref="validerCreateSeance">Valider</button>
	</div>
	</ion-content>
</ion-view>
