<ion-view style="background-color: rgb(255, 95, 0);" id="page2" title="Entrainement">
    <ion-content class="has-header" padding="true">
           <div class="titles"> Mes séances : </div>

        <ion-list style="">
            <ion-item style="" ui-sref="bras">Séance biceps/triceps exemple</ion-item>
            <ion-item style="" ui-sref="pectoraux">Séance pectoraux exemple</ion-item>
            <ion-item style="" ui-sref="dos">Séance dos exemple</ion-item>
            <ion-item style="" ui-sref="epaules">Séance épaules exemple</ion-item>
            <ion-item style="" ui-sref="jambes">Séance jambes exemple</ion-item>
        </ion-list>
        <button class="button button-energized  button-block" style="color:#000000;" id="entrainement-button1" ui-sref="createSeance">Ajouter une séance</button>
    </ion-content>
</ion-view>
