<ion-view style="background-color: rgb(255, 95, 0);" id="page2" title="Entrainement">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="" ui-sref="bras">Séance bras</ion-item>
            <ion-item style="" ui-sref="pectoraux">Séance pectoraux</ion-item>
            <ion-item style="" ui-sref="dos">Séance dos</ion-item>
            <ion-item style="" ui-sref="epaules">Séance épaules</ion-item>
            <ion-item style="" ui-sref="jambes">Séance jambes</ion-item>
        </ion-list>
        <button class="button button-energized  button-block" style="color:#000000;" id="entrainement-button1" ui-sref="createSeance">Ajouter une séance</button>
    </ion-content>
</ion-view>
