<ion-view style="background-color: rgb(255, 95, 0);" id="page2" title="Entrainement">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="">Séance bras</ion-item>
            <ion-item style="">Séance pectoraux</ion-item>
            <ion-item style="">Séance dos</ion-item>
            <ion-item style="">Séance épaules</ion-item>
            <ion-item style="">Séance jambes</ion-item>
        </ion-list>
        <button class="button button-energized  button-block" style="color:#000000;" id="entrainement-button1">Ajouter une séance</button>
    </ion-content>
</ion-view>