<ion-view style="background-color: rgb(247, 151, 94);" id="home" title="Home">
    <ion-content class="has-header" padding="true">
    <div ng-controller="paramTresCtrl">
        <h2 style="color: rgb(0, 0, 0); text-align:center;" id="aProposDeNous-heading1">BecomeASaiyan</h2>
        <div style="color: rgb(0, 0, 0); text-align: justify;" id="aProposDeNous-markdown1">
          <ion-list style="">
	    <ion-item style="" class="item-thumbnail-left">
	      <img src="img/avatar.jpg">
	      <h2>{{ profile.prenom }}</h2>
	      <p>{{ profile.poids }}kg </p>
	      <p> {{ profile.taille }}</p>
	    </ion-item>
	    <label style="" class="item">
	      <span class="input-label">Votre but : {{ profile.but }}</span></label>
	    <label style="" class="item item-input">
	      <span class="input-label">Objectif en kg : </span><span>{{ profile.objectif }}</span>
	    </label>
	    <label style="" class="item item-input">
	      <span class="input-label">KCalories journalieres : </span><span>{{ profile.kcal }}</span>
	    </label>
	     <label style="" class="item item-input">
	      <span class="input-label">Nombre de repas par jour : </span><span>{{ profile.nbrepas }}</span>
	    </label>
	  </ion-list>
	  
        </div>
    </div>
    </ion-content>
</ion-view>
