<ion-view style="background-color: rgb(255, 95, 0);" id="page4" title="Paramètres">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/mQzRc47NTyOETzzlwdDq_musculation.jpg">
                <h2>Vincent</h2>
                <p>78kg -- 1m76</p>
            </ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Votre but :</span>
                <select>
                    <option>Se muscler</option>
                    <option>Perdre du poids</option>
                </select>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Objectif en kg</span><textarea placeholder="Objectif"> 80</textarea>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Coup en €</span><textarea placeholder=""> </textarea>
            </label>
        </ion-list>
        <button class="button button-energized  button-block" style="color:#000000;" id="paramTres-button2">Gérer mes compléments</button>
    </ion-content>
</ion-view>